In [1]:
import pandas as pd

In [9]:
#question 1
#You survey households in your area to find the average rent they are paying. Find the
#standard deviation from the following data:
#$1550, $1700, $900, $850, $1000, $950

In [2]:
#Rent data
x=[1550,1700,900,850,1000,950]
df=pd.DataFrame(x)

In [4]:
df

      0
0  1550
1  1700
2   900
3   850
4  1000
5   950

In [5]:
#standard deviation of the data
df.std()

0    367.990036
dtype: float64

In [10]:
#question2
#Find the variance for the following set of data representing trees in California (heights in
#feet):
#3, 21, 98, 203, 17, 9

In [12]:
df1=pd.DataFrame([3,21,98,203,17,9])

In [13]:
df1

     0
0    3
1   21
2   98
3  203
4   17
5    9

In [14]:
df1.var()

0    6219.9
dtype: float64

In [15]:
df1.describe()

                0
count    6.000000
mean    58.500000
std     78.866343
min      3.000000
25%     11.000000
50%     19.000000
75%     78.750000
max    203.000000

In [16]:
#question 3
#In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7
#failed in two subjects and 3 failed in three subjects. Find the probability distribution of
#the variable for number of subjects a student from the given class has failed in.

In [17]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [18]:
list=[0.1,0.03,0.7,0.8]
df = pd.DataFrame(list)

In [19]:
# mean
mu = 0.407500
# standard deviation
sigma = 0.398612

In [20]:
# Cummilative Denisty Function
stats.norm(40.75,39.8612).cdf(80)

0.8376061156355561

In [21]:
# Probability Denisity Function
stats.norm(40.75,39.8612).pdf(80)

0.006163402498434112